footer{
    color: #ffffff;
    /* height: 12em; */
    /* background-color: #730000; */
}
.custom-shape-divider-bottom-1707587365 {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1707587365 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1707587365 .shape-fill {
    fill: #730000;
}

