:root{
    --rojoOscuro:#730000;
    --rojoClaro:#A62224;
    --amarilloOscuro:#CA8F00;
    --amarilloClaro:#E5A200;
    --blanco:#FFFFFF;
    --gris:#F4F4F4;
    --negro:#000000;
}

*{
    margin: 0;

}

body {
    padding-top: 4rem;
}
main.container{
    margin-top: 5%;
}
/* HAY QUE HACRERLO EN TODAS LAS SECC QUE QUIERAS WIDTH 100% */
    .container .who {
      max-width: 100% !important;
      padding-right: 0 !important;
    padding-left: 0 !important;
    }

