*{
    margin: 0;
}

body {
    padding-top: 4rem;
}
main.container{
    margin-top: 5%;
}

    .container {
      max-width: 100% !important;
      padding-right: 0 !important;
    padding-left: 0 !important;
    }

