/* Show it is fixed to the top */
body {
  /*min-height: 75rem;*/
    padding-top: 5rem;
}
.custom-shape-divider-top-1707134803 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1707134803 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 103px;
}

.custom-shape-divider-top-1707134803 .shape-fill {
    fill: #730000;
}

.navbar-nav .nav-link {
    color: white !important; /* !important para sobrescribir estilos predeterminados */
    text-decoration: none !important; /* Eliminar subrayado */
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}
.navbar-nav .nav-link#login_btn {
    background-color: white;
    color: #333; /* Puedes ajustar el color del texto según tus preferencias */
    border-radius: 20px; /* Bordes redondos */
    padding: 8px 16px; /* Ajusta el relleno según sea necesario */
}
